.calculator__content {
  padding: 40px 0;

  h2 {
    width: 100%;
    font-weight: 700;
    font-size: 41px;
    line-height: 140%;
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
  }
}

.calculator__parametres {
  width: 51.283%;
}

.calculator__wrapper {
  display: flex;
}

.calculator__step {
  padding-top: 33px;
  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
  }
}

@media (max-width: $tablet) {
  .calculator__content {
    padding: 30px 45px;

    h2 {
      font-size: 32px;
    }
  }

  .calculator__step {
    h3 {
      font-size: 18px;
    }
  }

  .calculator__wrapper {
    flex-direction: column;
  }

  .calculator__parametres {
    width: 100%;
  }
}

@media (max-width: $mobile) {
  .calculator__content {
    padding: 20px 15px;

    h2 {
      font-size: 22px;
    }
  }

  .calculator__step {
    h3 {
      font-size: 16px;
    }
  }
}
